
caption{
    font-size: 1.5em; /* Larger caption text */
    margin: 20px; /* Margin around the caption */
    color: #73e616; /* Darker caption text color */
}
table{
    background-image: url(https://ts1.mm.bing.net/th?id=OIP.MK-yUN_7Ru74_VEXNhaSEgHaE7&pid=15.1); /* Dark blue header background */
    color: #ffffff; /* White header text color */
    font-weight: bold; /* Bold header text */
}