<<<<<<< HEAD
body{background-color: green;}
h1{color: white;}
fieldset{text-align: center;}
=======
body{background-color: green;}
h1{color: white;}
fieldset{text-align: center;}
>>>>>>> 51ab3651f356203499abac9088c1dfd4c4738257
input{text-align: center;}