h1{
    background-color: black;
    color:aliceblue
}

nav {
  width: 900px;
  float: right;
  margin: 60px;
}
nav ul li {
  display: inline;
  font-size: 25px;
  margin-right: 100px;
  background-color: black;
  color: white;
}
nav ul li:hover{
    background-color: red;
    color: azure;
}